includes:
	- phpstan-baseline.neon

parameters:
	level: 6
	paths:
		- src
	universalObjectCratesClasses:
		- Crud\Event\Subject
	bootstrapFiles:
		- vendor/cakephp/cakephp/src/Core/Exception/CakeException.php
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
